@font-face{
    font-family: 'Netflix Sans';
    src: url(./circular-std-medium-500.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    

}

body{
    background-color: black;
    color: white;
}

.header{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(netflix4.jpg);
    background-size: cover;
    
}

.top-left-logo{
    width: 150px;
    height: 100px;
    >img{
        width: 100%;
        height: 100%;
        object-fit: contain;
        margin-left: 150px;
    }
}
.top-right-button{
    margin-left: 81%;
    margin-top: -70px;
    width: 100px;
    height: 50px;
    >button{
        width: 75px;
        height: 32px;
        background-color: #e50914;
        color: white;
        border-radius: 8px;
        cursor: pointer;
        transition: 0.3s;
        font-family: 'Netflix Sans';
        border: 0;
        outline: 0;
    }
    button:hover{
        background-color: #b30c14;
    }
}

.text-in-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 200px;
    font-family: 'Netflix Sans';
    >h1{
        font-size: 50px;
        font-weight: 500px;
        font-weight: bolder;
    }
    >p{
        margin: 16px;
        font-size: 25px ;
        font-weight: 200px;
        
    }


}

.button-in-header{
    padding: 30px 16px 8px 0px;
}
.button1{
    width: 353px;
    height: 56px;
    background-color:transparent;
    color: white;
    font-family: 'Netflix Sans';
    gap: 40px;
    font-size: medium;
    border-radius: 8px;
    border: 1;
    outline: 0;
    
    


    
}
.button2{
    width: 203px;
    height: 56px;
    font-family: 'Netflix Sans';
    font-size: 25px;
    background-color: #db0001;
    color: white;
    border-radius: 8px;
    border: 0;
    outline: 0;
    cursor: pointer;
    transition: 0.3s;
}
.button2:hover{
    background-color: #b30c14;
}


.gap{
    background-color: rgb(56, 54, 54);
    width: 100%;
    height: 10px;
}

.Enjoy-your-tv{
    height: 500px;
    width: 100%;
    font-family: 'Netflix Sans';
    padding: 200px;
    display: flex;
    align-items: center;
    
}

.enjoy-text{
    width: 550px;
    >h1{
        font-size: 50px;

    }
    
    >p{
        font-size: 20px;
    }

}

.tv-image{
    width: 500px;
    height: 500px;
    margin-left: 200px;
    >img{
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}

.Download{
    height: 500px;
    width: 100%;
    font-family: 'Netflix Sans';
    display: flex;
    padding: 30px;

}
.Stranger-Things{
    height: 400px;
    width: 700px;
    margin-left: 150px;
    >img{
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
    
 
}
.Downloadtext{
    margin-left: 60px;

}
.Strong{
    margin-right: 300px;
    >h1{
        font-size: 50px;
    }
}
.save{
   font-size: 20px;
   margin-right: 300px;
   margin-top: 30px;
}

.watch-everwhere{
    height: 500px;
    width: 100%;
    font-family: 'Netflix Sans';
    display: flex;
    padding: 30px;
}

.watchtext{
    margin-top: 12%;
    margin-left: 100px;
}
.watch{
    >h1{
        font-size: 50px;
    }
}
.stream{
    margin-top: 30px;
    margin-right: 100px;
    >p{
        font-size: 20px;
    }
}
.tv2{
    height: 400px;
    width: 700px;
    >img{
        height: 100%;
        width: 100%;
        object-fit: contain;
    }
}
.Kids{
    height: 500px;
    width: 100%;
    font-family: 'Netflix Sans';
    display: flex;
    padding: 30px;
}

.Kidsimage{
    width: 800px;
    height: 400px;
    margin-left: 200px;
    >img{
        height: 100%;
        width: 100%;
        object-fit: contain;
    }

}

.Kidstext{
    margin-top: 100px;
    >h1{
        font-size: 50px;
        margin-bottom: 20px;
        margin-right: 320px;
    }

    >p{
        font-size: 20px;
        margin-right: 400px;

    }
}

.Frequently-asked{
    height: 900px;
    width: 100%;
    font-family: 'Netflix Sans';
    display: flex;

}

.heading{
    margin-left: 350px;
    margin-top: 40px;
    >h1{
        font-size: 50px;
    }
}

.dropdown{
    display: flex;
    flex-direction: column;
    margin-left: 200px;
    gap: 10px;
    margin-top: 50px;
    >button{
        height: 80px;
        width: 900px;
        font-size: 20px;
        text-align: start;
        background-color: rgb(56, 54, 54);
        color: white;
        border: 0;
        outline: 0;
        cursor: pointer;
        transition: 0.3s;
        
    }
    button:hover{
        background-color: rgb(78, 72, 72);
        
    }
    
}

.faq{
    margin-left: 30px;
    font-family: 'Netflix Sans';
    
}
.ready{
    margin: 60px 0 0 370px;
    font-size: 20px;
}
.button-in-faq{
    margin: 20px 0 0 400px;
}

footer{
    height: 300px;
    width: 100%;
}

.text{
    padding: 100px;
    font-family: 'Netflix Sans';
    
    
}

.Questions{
    margin-bottom: 30px;
    margin-left: 100px;
    font-size: 15px;
    >a{
        color: white;
    }
}

.column-container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.column1{
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 15px;
    >a{
        color: white;
    }
}

.lowestpart{
    margin: 60px 0 0 120px;
    >button{
        width: 120px;
        height: 30px;
        margin-bottom: 30px;
        border-radius: 7px;
        background-color: black;
        color: white;
        outline: 0;
        border: 1;
        border-color: white;
        
    }
}